{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistem Peminjaman Sekolah">
    <meta name="author" content="AdminKit">

    <title>SIPINJAM | {% block title %}System{% endblock %}</title>

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{% url 'dashboard' %}">
                    <span class="align-middle">SIPINJAM SMK</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Menu Utama
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'dashboard' %}">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'borrowing:list' %}">
                            <i class="align-middle" data-feather="repeat"></i> <span class="align-middle">Peminjaman</span>
                        </a>
                    </li>

                    {% if user.role == 'admin' %}
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'add_petugas' %}">
                              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Tambah Petugas</span>
                          </a>
                        </li>
                    {% endif %}

                    {% if user.role in 'admin,petugas' %}
                        <li class="sidebar-header">
                            Manajemen Aset
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'inventory:list' %}">
                                <i class="align-middle" data-feather="box"></i> <span class="align-middle">Data Inventaris</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'inventory:kategori_list' %}">
                                <i class="align-middle" data-feather="tag"></i> <span class="align-middle">Kategori Alat</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="sidebar-header">
                        Akun
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'logout' %}">
                            <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="{% static 'img/avatars/avatar.jpg' %}" class="avatar img-fluid rounded me-1" alt="User" /> 
                                <span class="text-dark">Halo, {{ user.username|title }} ({{ user.role|title }})</span>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <strong>SIPINJAM System</strong> &copy; 2026
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>